<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dreamchan.system.mapper.DeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.dreamchan.system.pojo.entity.DeptEntity">
        <id column="dept_id" property="deptId" />
        <result column="dept_name" property="deptName" />
        <result column="parent_id" property="parentId" />
        <result column="leader" property="leader" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="description" property="description" />
        <result column="remark" property="remark" />
        <result column="order_num" property="orderNum" />
        <result column="status" property="status" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            dept_id, dept_name, parent_id, leader, phone, email, description, remark, order_num, status, create_by,  create_time, update_by,  update_time
    </sql>


    <select id="selectDeptListByRoleId" parameterType="Long" resultType="Integer">
		select
            d.dept_id,
            d.parent_id
		from sys_dept d
        left join sys_role_dept rd on d.dept_id = rd.dept_id
        where rd.role_id = #{roleId}
        	and d.dept_id not in (select d.parent_id from sys_dept d inner join sys_role_dept rd on d.dept_id = rd.dept_id and rd.role_id = #{roleId})
		order by d.parent_id, d.order_num
	</select>
</mapper>
