<template>
  <div class="app-container">
    <el-form :model="queryParams" ref="queryForm" :inline="true" label-width="68px">
#foreach($field in ${table.fields})
    #if(${field.keyFlag})
        #set($pkColumn = ${field})
    #end
#end
#foreach($field in ${table.fields})
#if($field.propertyType == "String")
      <el-form-item label="${field.comment}" prop="${field.propertyName}">
        <el-input
          v-model="queryParams.${field.propertyName}"
          placeholder="请输入${field.comment}"
          clearable
          size="small"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
#elseif($field.propertyType  == "LocalDateTime")
      <el-form-item label="${field.comment}" prop="${field.propertyName}">
        <el-date-picker clearable size="small" style="width: 200px"
          v-model="queryParams.${field.propertyName}"
          type="date"
          value-format="yyyy-MM-dd"
          placeholder="选择${field.comment}">
        </el-date-picker>
      </el-form-item>
#end
#end
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
      </el-form-item>
    </el-form>

    <el-row :gutter="10" class="mb8">
      <el-col :span="1.5">
        <el-button
          type="primary"
          icon="el-icon-plus"
          size="mini"
          @click="handleAdd"
          v-hasPermi="['${cfg.moduleName}:${className}:add']"
        >新增</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="success"
          icon="el-icon-edit"
          size="mini"
          :disabled="single"
          @click="handleUpdate"
          v-hasPermi="['${cfg.moduleName}:${className}:edit']"
        >修改</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="danger"
          icon="el-icon-delete"
          size="mini"
          :disabled="multiple"
          @click="handleDelete"
          v-hasPermi="['${cfg.moduleName}:${className}:delete']"
        >删除</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="warning"
          icon="el-icon-download"
          size="mini"
          @click="handleExport"
          v-hasPermi="['${cfg.moduleName}:${className}:export']"
        >导出</el-button>
      </el-col>
    </el-row>

    <el-table v-loading="loading" :data="${className}List" @selection-change="handleSelectionChange">
      <el-table-column type="selection" width="55" align="center" />

#foreach($field in ${table.fields})
#if($field.propertyType  == "LocalDateTime")
        <el-table-column label="${field.comment}" align="center" prop="${field.propertyName}" width="180">
            <template slot-scope="scope">
                <span>{{ parseTime(scope.row.${field.propertyName}) }}</span>
            </template>
        </el-table-column>
#else
        <el-table-column label="${field.comment}" align="center" prop="${field.propertyName}" />
#end
#end
        <el-table-column label="操作" align="center" class-name="small-padding fixed-width">
            <template slot-scope="scope">
                <el-button
                size="mini"
                type="text"
                icon="el-icon-edit"
                @click="handleUpdate(scope.row)"
                v-hasPermi="['${cfg.moduleName}:${className}:edit']"
              >修改</el-button>
              <el-button
                size="mini"
                type="text"
                icon="el-icon-delete"
                @click="handleDelete(scope.row)"
                v-hasPermi="['${cfg.moduleName}:${className}:delete']"
              >删除</el-button>
            </template>
        </el-table-column>
    </el-table>
    
    <pagination
      v-show="total>0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />

    <!-- 添加或修改${table.comment}对话框 -->
    <el-dialog :title="title" :visible.sync="open" width="500px" append-to-body>
      <el-form ref="form" :model="form" :rules="rules" label-width="80px">
#foreach($field in ${table.fields})
#if($field.propertyType  == "LocalDateTime")
        <el-form-item label="${field.comment}" prop="${field.propertyName}">
          <el-date-picker clearable size="small" style="width: 200px"
            v-model="form.${field.propertyName}"
            type="date"
            value-format="yyyy-MM-dd"
            placeholder="选择${field.comment}">
          </el-date-picker>
        </el-form-item>
#else
        <el-form-item label="${field.comment}" prop="${field.propertyName}">
            <el-input v-model="form.${field.propertyName}" placeholder="请输入${field.comment}" />
        </el-form-item>
#end
#end
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { list${entity}, get${entity}, del${entity}, add${entity}, update${entity}, export${entity} } from "@/api/${cfg.moduleName}/${className}";

export default {
  name: "${entity}",
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 总条数
      total: 0,
      // ${table.comment}表格数据
      ${className}List: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
#foreach($field in ${table.fields})
        $field.propertyName: undefined,
#end
      },
      // 表单参数
      form: {},
      // 表单校验
      rules: {
#foreach($field in ${table.fields})
        ${field.propertyName}: [
          { required: true, message: "${field.comment}不能为空", trigger: "blur" }
        ],
#end
      }
    };
  },
  created() {
    this.getList();
  },
  methods: {
    /** 查询${table.comment}列表 */
    getList() {
      this.loading = true;
      list${entity}(this.queryParams).then(response => {
        this.${className}List = response.data.records;
        this.total = response.data.total;
        this.loading = false;
      });
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
#foreach ($field in ${table.fields})
        $field.propertyName: undefined,
#end
      };
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map(item => item.${pkColumn.propertyName})
      this.single = selection.length != 1
      this.multiple = !selection.length
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.open = true;
      this.title = "添加${table.comment}";
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();
      const ${pkColumn.propertyName} = row.${pkColumn.propertyName} || this.ids
      get${entity}(${pkColumn.propertyName}).then(response => {
        this.form = response.data;
        this.open = true;
        this.title = "修改${table.comment}";
      });
    },
    /** 提交按钮 */
    submitForm: function() {
      this.#[[$]]#refs["form"].validate(valid => {
        if (valid) {
          if (this.form.${pkColumn.propertyName} != undefined) {
            update${entity}(this.form).then(response => {
              if (response.code === 200) {
                this.msgSuccess("修改成功");
                this.open = false;
                this.getList();
              }
            });
          } else {
            add${entity}(this.form).then(response => {
              if (response.code === 200) {
                this.msgSuccess("新增成功");
                this.open = false;
                this.getList();
              }
            });
          }
        }
      });
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const ${pkColumn.propertyName}s = row.${pkColumn.propertyName} || this.ids;
      this.$confirm('是否确认删除?', "警告", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        }).then(function() {
          return del${entity}(${pkColumn.propertyName}s);
        }).then(() => {
          this.getList();
          this.msgSuccess("删除成功");
        }).catch(function() {});
    },
    /** 导出按钮操作 */
    handleExport() {
      const queryParams = this.queryParams;
      this.$confirm('是否确认导出所有${table.comment}数据项?', "警告", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        }).then(function() {
          return export${entity}(queryParams);
        }).then(data => {
          this.download(data, "${table.comment}");
        }).catch(function() {});
    }
  }
};
</script>